/* VARIABILI CSS */
:root {
    --bg-light-theme: #2596be;
    --bg-dark-theme: #032f8a;
    --bg-button-light: #ecc15b;
    --bg-button-dark: #fcba21;
    --border-light: #f69f7b;
    --border-dark: #de5565;
    --contrast-light: #f23433;
    --contrast-dark: #a11a1a;
    --text-body-light: #ffffff;
    --text-body-dark: #1a1a1a;
    --shadow-light: #ef7c46;
    --shadow-dark: #e25b1d;
}

/* TAG ELEMENT */
body {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* ID */
/* stile per l'header */
#header {
    background: var(--bg-light-theme);
    border: 2px solid var(--border-light);
}

/* CLASS */
/* stile container all'interno dell'header */
.container-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

/* stile del logo della pagina */
.logo-naruto {
    width: 350px;
    margin: 10px;
    filter: drop-shadow(0 0 15px var(--shadow-light));
}

/* stile del conainer contenente l'input text e l'input button */
.search-box {
    background: var(--contrast-light);
    border: 2px solid var(--border-light);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    width: 100%;
}

/* stili specifici per input text e input button */
.search-box input[type="text"],
.search-box input[type="button"] {
    outline: none;
    border: none;
    border-radius: 5px;
}

.search-box input[type="text"] {
    background: inherit;
    color: var(--text-body-light);
    flex-grow: 1;
}

.search-box input[type="button"] {
    background: var(--bg-button-light);
}

/* stile per il toggle */
.toggle-theme {
    display: flex;
    flex-direction: row;
    background: var(--contrast-light);
    border: 2px solid var(--border-light);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

/* Stile generico per le icone di Bootstrap dentro il toggle */
.bi {
    padding: 5px;
    margin: 0 2px;
    font-size: 1.2rem; /* ingrandisce leggermente le icone per renderle proporzionate */
    display: flex;
    align-items: center;
    justify-content: center;
}